# ignore an entire directory   
/.idea/
/bourseapp/__pycache__/
/bourseapp/migrations/
/venv/ 
/__pycache__/
/media/
/tmp/


# ignore a file type
# *.json
*.pyc
*.sqlite3
*.xml
*.log

# add an exception (using !) to the preceding rule to track a specific file
# !package.json

# ignore a single file
# mycode.class
stderr.log
/bourseapp/__init__.py
/Bourse/__init__.py
/Bourse/settings.py
/bourseapp/api/__init__.py
