<!-- use base html template -->
{% extends 'bourseapp/base.html' %}
{% load jalali_tags %}
{% load auth_extras %}
{% block title %}
    <title>تحلیل های بازار</title>
{% endblock %}
<!-- begin of body block -->
{% block body %}

    <!-- load static file in django -->
    {% load staticfiles %}

    <!-- Material Design Bootstrap table -->
    <link rel="stylesheet" href="{% static 'bourseapp/css/addons/datatables.min.css' %}"><!-- MDBootstrap Datatables  -->
    <!-- Material Design Bootstrap table -->
    <link rel="stylesheet" href="{% static 'bourseapp/css/addons/datatables-select.min.css' %}"><!-- MDBootstrap Datatables  -->

    <div class="alert alert-primary" role="alert">
        تحلیل های بازار
    </div>

    <!-- new/delete/edit buttons -->
    {% if request.user.is_superuser or request.user|has_group:"level1" %}
        <div class="text-center">
          <a href="{% url 'admin:bourseapp_bazaar_add' %}?user={{ user.id }}" class="btn btn-rounded btn-info btn-sm" ><i class="fas fa-plus-circle mr-1"></i> افزودن</a>
          <a id="technical-edit" href="{% url 'admin:bourseapp_bazaar_change'  1%}?next={{ request.path|urlencode }}"  class="btn btn-rounded btn-info btn-sm"><i class="fas fa-edit mr-1"></i> ویرایش</a>
          <a id="technical-delete" href="{% url 'admin:bourseapp_bazaar_delete' 1%}?next={{ request.path|urlencode }}"  class="btn btn-rounded btn-danger btn-sm"><i class="fas fa-trash mr-1"></i> حذف</a>
        </div>
    {% endif %}


    <!-- PAGE SIZE/ search -->
    <div class="container">
        <div class="row">
            <div class="col-6 select-outline">

                <label>تعداد صفحات</label>
                <select id="bazaar-selector-page-size"  class="browser-default custom-select"  onchange="bazaarPageSizeChanged(this.options[this.selectedIndex].value)">
                    <option value="10">10</option>
                    <option value="20" >20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                <a id="bazaar-tag-a-page-size" class="d-none" href="?page-size=10">10</a>
                <script>
                    document.getElementById('bazaar-selector-page-size').value={{ page_size }};
                    function bazaarPageSizeChanged(page_size) {
                        {#alert(page_size)#}
                        let tag_a = document.getElementById("bazaar-tag-a-page-size");
                        let srchterm = $("#search-bazaar").val();
                        tag_a.href = "?page-size=" + page_size + "&search=" + srchterm;
                        tag_a.click();
                    }
                </script>

            </div>
            <div class="col-6">
                <!-- Search form -->
                <label>جست و جو</label>
                <div class="active-cyan-4">
                    <input id="search-bazaar" class="form-control" type="text" placeholder="جست و جو" aria-label="Search" value="{{ search }}">
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <!-- body -->
    <div class="">
        <div class="container py-1">

            <div class="row pagination-sm table-responsive" id="category-list">

                <table class="table table-sm table-hover table-striped"  id="bazaar-table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">نماد</th>
                        <th scope="col">عنوان</th>
                        <th scope="col">تاریخ</th>
                        <th scope="col">توضیحات</th>
                        <th scope="col">تصویر</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for tech in bazaar %}

                        {% if tech.isSuperUserPermition %}
                            {% if request.user.is_superuser or request.user|has_group:"level1" or request.user|has_group:"vip" %}

                                <tr>
                                    <input class="bazaarId" type="hidden" dataId={{ tech.id }}>
                                    <th scope="row" >{{ forloop.counter }} <span class="badge yellow mr-1"><small style="color: black">VIP</small></span></th>
                                    <td class="" >{{ tech.company.symbol }}</td>
                                    <td class="" ><a href="{% url 'bourseapp:technical-detail' tech.id %}">{{ tech.title }}</a></td>
                                    <td class="" style="font-family: 'IRANSansNum';">{{ tech.createAt|to_jalali:'%y/%m/%d' }}</td>
                                    <td class="">{{ tech.description | truncatechars:60 }}</td>
                                    {% if tech.pic %}
                                        <td ><a href="{{ tech.pic.url }}" target="_blank"><i class="fa fa-image"></i></a></td>
                                    {% else %}
                                        <td ><a href="#"></a></td>

                                    {% endif %}
                                </tr>

                            {% endif %}
                        {% else %}

                            <tr>
                                <input class="technicalId" type="hidden" dataId={{ tech.id }}>
                                <th scope="row" >{{ forloop.counter }}</th>
                                <td class="" >{{ tech.company.symbol }}</td>
                                <td class="" ><a href="{% url 'bourseapp:bazaar-detail' tech.id %}">{{ tech.title }}</a></td>
                                <td class="" style="font-family: 'IRANSansNum';">{{ tech.createAt|to_jalali:'%y/%m/%d' }}</td>
                                <td class="">{{ tech.description | truncatechars:60 }}</td>
                                {% if tech.pic %}
                                    <td ><a href="{{ tech.pic.url }}" target="_blank"><i class="fa fa-image"></i></a></td>
                                {% else %}
                                    <td ><a href="#"></a></td>

                                {% endif %}
                            </tr>

                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <!-- pagination -->
    <div class="d-flex justify-content-center">
        {% if bazaar.has_other_pages %}
            <nav aria-label="Page navigation example">
                <ul class="pagination pagination-circle pg-blue">
                    <li class="page-item"><a class="page-link"  href="?page=1&page-size={{ page_size }}" onclick="this.href += '&search=' + document.getElementById('search-bazaar').value">First</a></li>
                    {% if bazaar.has_previous %}
                        <li class="page-item">
                            <a class="page-link" aria-label="Previous" href="?page={{ bazaar.previous_page_number }}&page-size={{ page_size }}" onclick="this.href += '&search=' + document.getElementById('search-bazaar').value">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                        <a class="page-link" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    {% endif %}

                    <!-- center page numbers -->
                    {% for i in bazaar.paginator.page_range %}
                        {% if bazaar.number == i %}
                            <li class="page-item active"><a class="page-link">{{ i }}</a></li>

                        {% else %}
                            <li class="page-item"><a class="page-link"  href="?page={{ i }}&page-size={{ page_size }}" onclick="this.href += '&search=' + document.getElementById('search-bazaar').value">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}

                    <!-- center page numbers -->
                    {% if bazaar.has_next %}
                        <a class="page-link" aria-label="Next"  href="?page={{ bazaar.next_page_number }}&page-size={{ page_size }}" onclick="this.href += '&search=' + document.getElementById('search-bazaar').value">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    {% endif %}

                    <li class="page-item"><a class="page-link">Last</a></li>
                </ul>
            </nav>
        {% endif %}
    </div>


    <!-- base url address -->
    <input type="hidden" id="url-base" data-url="http://{{ request.get_host }}/" />

    <!-- selected category id -->
{#    <input type="hidden" id="category-selected-id" selected-id="-1">#}

    <!-- jQuery -->
    <script type="text/javascript" src="{% static 'bourseapp/js/jquery.min.js' %}"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{% static 'bourseapp/js/mdb.min.js' %}"></script>
    <!-- MDB table core JavaScript -->
    <script type="text/javascript" src="{% static 'bourseapp/js/addons/datatables.min.js' %}"></script><!-- MDBootstrap Datatables  -->
    <!-- MDB table core JavaScript -->
    <script type="text/javascript" src="{% static 'bourseapp/js/addons/datatables-select.min.js' %}"></script><!-- MDBootstrap Datatables  -->

    <script>

        $("#bazaar-table tr").click(function(){
           $(this).addClass('table-primary').siblings().removeClass('table-primary');
           var value=$(this).find('input.bazaarId').attr("dataId");

           var url_mask_edit = "{% url 'admin:bourseapp_bazaar_change' 12345 %}".replace(/12345/, value.toString());
           $("#bazaar-edit").attr("href", url_mask_edit)

           var url_mask_delete = "{% url 'admin:bourseapp_bazaar_delete' 12345 %}".replace(/12345/, value.toString());
           $("#bazaar-delete").attr("href", url_mask_delete)

           {#alert(value)#}
                   });

        $('.ok').on('click', function(e){
            alert($("#bazaar-table tr.selected td:first").html());
        });

        // Material Select Initialization
        $(document).ready(function() {
            $('.mdb-select').materialSelect();
            $('.select-wrapper.md-form.md-outline input.select-dropdown').bind('focus blur', function () {
                $(this).closest('.select-outline').find('label').toggleClass('active');
                $(this).closest('.select-outline').find('.caret').toggleClass('active');
            });
        });



    </script>

    <!-- search -->
    <script>
        $("#search-bazaar").on('keyup', function (e) {
            if (e.keyCode === 13) {
                let srchterm = $("#search-bazaar").val();
                let tag_a = document.getElementById("bazaar-tag-a-page-size");
                tag_a.href = "?page-size=" + {{ page_size }} + "&search=" + srchterm;
                tag_a.click();
            }
        });
    </script>
{% endblock %}