<!-- use base html template -->
{% extends 'bourseapp/base.html' %}
{% load jalali_tags %}
{% load auth_extras %}
{% block title %}
    <title>نماد {{ company.symbol }}</title>
{% endblock %}
<!-- begin of body block -->
{% block body %}

    <!-- load static file in django -->
    {% load staticfiles %}


    <!-- Material Design Bootstrap table -->
    <link rel="stylesheet" href="{% static 'bourseapp/css/addons/datatables.min.css' %}"><!-- MDBootstrap Datatables  -->
    <!-- Material Design Bootstrap table -->
    <link rel="stylesheet" href="{% static 'bourseapp/css/addons/datatables-select.min.css' %}"><!-- MDBootstrap Datatables  -->

    <!-- company info -->
    <div class="container my-2 py-3 z-depth-1">

        <!--Section: Content-->
        <section class="px-md-5 mx-md-5 dark-grey-text text-center text-lg-left">

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-lg-6 mb-4 mb-lg-0 ">

                    <h3 class="font-weight-bold text-right">{{ company.fullName }} ({{ company.symbol }})</h3>

                    <p class="font-weight-bold text-right">{{ company.bourseType }}</p>

                    <p class="text-muted text-right">{{ company.description }}</p>

                    <a href="{{ company.tse }}" target="_blank"><i class="fa fa-link"> TSE</i></a>
                    <br>
                    <a href="{{ company.site }}" target="_blank"><span class="badge badge-default float-left">وبسایت</span></a>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-6 mb-4 mb-lg-0 d-flex align-items-center justify-content-center">

                    {% if company.pic %}
                        <img src="{{ company.pic.url }}" class="img-fluid" alt="" style="width: 150px; height: 150px; object-fit: contain">
                    {% else %}
                        <img src="{% static 'bourseapp/images/placeholder-company.png' %}" class="img-fluid" alt="" style="width: 150px; height: 150px; object-fit: contain">
                    {% endif %}

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->


        </section>
        <!--Section: Content-->

    </div>

    <!-- news -->
    <div class="container my-5">

        <!-- Section: Block Content -->
        <section>

            <div class="card">
                <div class="card-body">

                    <h5 class="text-center font-weight-bold mb-4">آخرین خبرها</h5>

                    <hr>

                    <!--Grid row-->
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-12 mb-3 mx-auto">

                            {% for new in news %}
                                <div class="media">
                                    {% if new.pic %}
                                        <img class="d-flex mr-3" src="{{ new.pic.url }}" alt="{{ new.title }}" style="width: 70px; height: 70px">
                                    {% else %}
                                        <img class="d-flex mr-3" src="{% static 'bourseapp/images/news.png' %}" alt="News" style="width: 70px; height: 70px">
                                    {% endif %}
                                    <div class="media-body">
                                        <h6 class="mt-1 font-weight-bold mr-3">
                                            <a href="{% url 'bourseapp:news-detail' new.id %}">{{ new.title }}</a>
                                            <a href="{{ new.reference }}" target="_blank"><span class="badge badge-default float-left">منبع</span></a>
                                            <span class="badge badge-info  float-left ml-1">{{ new.createAt|to_jalali:'%y/%m/%d' }}</span>
                                            <span class="badge badge-secondary  float-left ml-1"><small>{{ new.user }}</small></span>

                                            {% if request.user.is_superuser or request.user|has_group:"level1" or request.user|has_group:"level2" %}
                                                <a href="{% url 'admin:bourseapp_news_change' new.id %}" target="_blank"><i class="fa fa-edit small float-left ml-1"></i></a>
                                                <a href="{% url 'admin:bourseapp_news_delete' new.id %}" target="_blank"><i class="fa fa-trash small float-left ml-1" style="color: #9f105c"></i></a>
                                            {% endif %}
                                        </h6>
                                        <p class="text-muted mr-3">{{ new.description | truncatechars:60 }}</p>

                                    </div>
                                </div>
                                <hr>
                            {% endfor %}

                        </div>
                        <!--Grid column-->

                    </div>
                    <!--Grid row-->

                    <hr>

                    {% if request.user.is_superuser or request.user|has_group:"level1" or request.user|has_group:"level2" %}
{#                        <p class="text-center mt-4 mb-1"><a href="{% url 'admin:bourseapp_news_add' %}?next={{ request.path|urlencode }}&company={{ company.id }}&user={{ user.id }}" target="_blank">افزودن خبر</a></p>#}
                        <p class="text-center mt-4 mb-1"><a href="{% url 'bourseapp:news-create' %}?next={{ request.path|urlencode }}&company={{ company.id }}" target="_blank">افزودن خبر</a></p>
                    {% endif %}
                </div>
            </div>

        </section>
        <!-- Section: Block Content -->

    </div>

    <!-- analysis list -->
    <div class="row mb-2">

        <!-- technical -->
        <div class="col-sm mt-1">

            <!-- Section: Block Content -->
            <section>

                <div class="card">
                    <div class="card-body">

                        <h5 class="text-center font-weight-bold mb-4">تحلیل تکنیکال</h5>

                        <hr>

                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-12 mb-3 mx-auto">

                                {% for technical in technicals %}
                                    <div class="media">
                                        {% if technical.pic %}
                                            <img class="d-flex mr-3" src="{{ technical.pic.url }}" alt="image"  style="width: 70px; height: 70px; object-fit: contain">
                                        {% else %}
                                            <img class="d-flex mr-3" src="{% static 'bourseapp/images/technical.jpg' %}" alt="News" style="width: 70px; height: 70px; object-fit: contain">
                                        {% endif %}
                                        <div class="media-body">
                                            <h6 class="mt-1 font-weight-bold mr-3">
                                                <a href="{% url 'bourseapp:technical-detail' technical.id %}">{{ technical.title }}</a>
                                                <span class="badge badge-info  float-left ml-1">{{ technical.createAt|to_jalali:'%y/%m/%d' }}</span>
                                                <span class="badge badge-secondary  float-left ml-1"><small>{{ technical.user }}</small></span>

                                                {% if request.user.is_superuser or request.user|has_group:"level1" %}
                                                    <a href="{% url 'admin:bourseapp_technical_change' technical.id %}" target="_blank"><i class="fa fa-edit small float-left ml-1"></i></a>
                                                    <a href="{% url 'admin:bourseapp_technical_delete' technical.id %}" target="_blank"><i class="fa fa-trash small float-left ml-1" style="color: #9f105c"></i></a>
                                                {% endif %}
                                            </h6>
                                            <p class="text-muted mr-3">{{ technical.description | truncatechars:60 }}</p>

                                        </div>
                                    </div>
                                    <hr>
                                {% endfor %}

                            </div>
                            <!--Grid column-->

                        </div>
                        <!--Grid row-->

                        <hr>

                        {% if request.user.is_superuser or request.user|has_group:"level1"%}
                            <p class="text-center mt-4 mb-1"><a href="{% url 'admin:bourseapp_technical_add' %}?next={{ request.path|urlencode }}&company={{ company.id }}&user={{ user.id }}" target="_blank">افزودن تحلیل</a></p>
                        {% endif %}

                    </div>
                </div>

            </section>
            <!-- Section: Block Content -->
        </div>

        <!-- fundamental -->
        <div class="col-sm mt-1">

            <!-- Section: Block Content -->
            <section>

                <div class="card">
                    <div class="card-body">

                        <h5 class="text-center font-weight-bold mb-4">تحلیل بنیادی</h5>

                        <hr>

                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-12 mb-3 mx-auto">

                                {% for fundamental in fundamentals %}
                                    <div class="media">
                                        {% if fundamental.pic %}
                                            <img class="d-flex mr-3" src="{{ fundamental.pic.url }}" alt="image"  style="width: 70px; height: 70px; object-fit: contain">
                                        {% else %}
                                            <img class="d-flex mr-3" src="{% static 'bourseapp/images/fundamental-analysis.jpg' %}" alt="News" style="width: 70px; height: 70px; object-fit: contain">
                                        {% endif %}
                                        <div class="media-body">
                                            <h6 class="mt-1 font-weight-bold mr-3">
                                                <a href="{% url 'bourseapp:fundamental-detail' fundamental.id %}">{{ fundamental.title }}</a>
                                                <span class="badge badge-info  float-left ml-1">{{ fundamental.createAt|to_jalali:'%y/%m/%d' }}</span>
                                                <span class="badge badge-secondary  float-left ml-1"><small>{{ fundamental.user }}</small></span>

                                                {% if request.user.is_superuser or request.user|has_group:"level1" %}
                                                    <a href="{% url 'admin:bourseapp_fundamental_change' fundamental.id %}" target="_blank"><i class="fa fa-edit small float-left ml-1"></i></a>
                                                    <a href="{% url 'admin:bourseapp_fundamental_delete' fundamental.id %}" target="_blank"><i class="fa fa-trash small float-left ml-1" style="color: #9f105c"></i></a>
                                                {% endif %}
                                            </h6>
                                            <p class="text-muted mr-3">{{ fundamental.description | truncatechars:60 }}</p>

                                        </div>
                                    </div>
                                    <hr>
                                {% endfor %}

                            </div>
                            <!--Grid column-->

                        </div>
                        <!--Grid row-->

                        <hr>

                        {% if request.user.is_superuser or request.user|has_group:"level1"%}
                            <p class="text-center mt-4 mb-1"><a href="{% url 'admin:bourseapp_fundamental_add' %}?next={{ request.path|urlencode }}&company={{ company.id }}&user={{ user.id }}" target="_blank">افزودن تحلیل بنیادی</a></p>
                        {% endif %}

                    </div>
                </div>

            </section>
            <!-- Section: Block Content -->
        </div>

    </div>




    <!-- base url address -->
    <input type="hidden" id="url-base" data-url="http://{{ request.get_host }}/" />

    <!-- selected category id -->
{#    <input type="hidden" id="category-selected-id" selected-id="-1">#}

    <!-- jQuery -->
    <script type="text/javascript" src="{% static 'bourseapp/js/jquery.min.js' %}"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{% static 'bourseapp/js/mdb.min.js' %}"></script>
    <!-- MDB table core JavaScript -->
    <script type="text/javascript" src="{% static 'bourseapp/js/addons/datatables.min.js' %}"></script><!-- MDBootstrap Datatables  -->
    <!-- MDB table core JavaScript -->
    <script type="text/javascript" src="{% static 'bourseapp/js/addons/datatables-select.min.js' %}"></script><!-- MDBootstrap Datatables  -->


{% endblock %}