<!-- use base html template -->
{% extends 'bourseapp/base.html' %}
{% load humanize %}
{% load jalali_tags %}
{% load auth_extras %}
{% block title %}
    <title>بورس | خانه</title>
{% endblock %}
<!-- begin of body block -->
{% block body %}
    <!-- load static file in django -->
    {% load staticfiles %}


    <link rel="stylesheet" href="{% static 'bourseapp/styles.css' %}">
    <!-- top section -->

    <!-- auth checking -->
    {% if user.is_authenticated%}

        <!-- watch list -->
        <div class="container my-1 py-1">

            <!-- Section: Block Content -->
            <section>

                <h5 class=" font-weight-bold mb-4">نمادهای تحت نظر</h5>
                <!--Grid row-->
                <div class="row">

                    {% for target in targets %}
                        <!--Grid column-->
                        <div class="col-lg-3 col-md-6 mb-4">
                            <a href="{% url 'bourseapp:company-detail' target.company.id%}">

                                <div class="media white z-depth-1 rounded">
                                    <div class="media-body p-1">
                                        <p class="text-uppercase text-muted mb-1"><small>{{ target.createAt|to_jalali:'%y/%m/%d' }}</small></p>
                                        <h5 class="font-weight-bold mb-0">{{ target.company.symbol }}</h5>
                                    </div>
                                    {% if target.company.pic %}
                                        <img src="{{ target.company.pic.url }}" alt="" class="rounded-left mr-3 z-depth-1" style="height: 60px; width: 70px; object-fit: contain">
                                    {% else %}
                                        <i class="fas fa-chart-bar fa-lg blue z-depth-1 p-4 rounded-left text-white mr-3"></i>
                                    {% endif %}
                                </div>

                            </a>
                        </div>
                        <!--Grid column-->
                    {% endfor %}
                </div>
                <!--Grid row-->

            </section>
            <!-- Section: Block Content -->


        </div>


        <div class="row">

            <!-- news -->
            <div class="col-sm mt-1">
                <!--Section: Content-->
                <section>

                    <div class="card">
                        <div class="card-body">

                            <h5 class="text-center font-weight-bold mb-4">آخرین خبرها</h5>

                            <hr>

                            <!--Grid row-->
                            <div class="row">

                                <!--Grid column-->
                                <div class="col-12 mb-3 mx-auto">

                                    {% for new in news %}
                                        <div class="media">
                                            {% if new.pic %}
                                                <img class="d-flex mr-3" src="{{ new.pic.url }}" alt="{{ new.title }}" style="width: 70px; height: 70px">
                                            {% else %}
                                                <img class="d-flex mr-3" src="{% static 'bourseapp/images/news.png' %}" alt="News" style="width: 70px; height: 70px">
                                            {% endif %}
                                            <div class="media-body">
                                                <h6 class="mt-1 font-weight-bold mr-3">
                                                    <a href="{% url 'bourseapp:news-detail' new.id %}">{{ new.title }}</a>
                                                    <a href="{{ new.reference }}" target="_blank"><span class="badge badge-default float-left">منبع</span></a>
                                                    <span class="badge badge-info  float-left ml-1">{{ new.createAt|to_jalali:'%y/%m/%d' }}</span>

                                                </h6>
                                                <p class="text-muted mr-3" style="width: 250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ new.description }}</p>

                                            </div>
                                        </div>
                                        <hr>
                                    {% endfor %}

                                </div>
                                <!--Grid column-->

                            </div>
                            <!--Grid row-->

                            <hr>

                            <p class="text-center mt-4 mb-1"><a href="#!">مشاهده تمامی خبرها</a></p>

                        </div>
                    </div>

                </section>
                <!--Section: Content-->
            </div>

            <!-- targets -->
            <div class="col-sm mt-1">
                <!--Section: Content-->
                <section>

                    <div class="card">
                        <div class="card-body">

                            <h5 class="text-center font-weight-bold mb-4">نمادهای تحت نظر</h5>

                            <hr>

                            <!--Grid row-->
                            <div class="row">

                                <!--Grid column-->
                                <div class="col-12 mb-3 mx-auto">

                                    {% for target in targets %}
                                        <div class="media">
                                            {% if target.company.pic %}
                                                <img class="d-flex mr-3" src="{{ target.company.pic.url }}" alt="image" style="width: 70px; height: 70px">
                                            {% else %}
                                                <img class="d-flex mr-3" src="{% static 'bourseapp/images/placeholder-company.png' %}" alt="News" style="width: 70px; height: 70px">
                                            {% endif %}
                                            <div class="media-body">
                                                <h6 class="mt-1 font-weight-bold mr-3">
                                                    <a href="{% url 'bourseapp:company-detail' target.company.id %}">{{ target.company.symbol }}</a>
                                                    <a href="{{ target.company.site }}" target="_blank"><span class="badge badge-default float-left">وبسایت</span></a>
                                                    <span class="badge badge-info  float-left ml-1">{{ target.createAt|to_jalali:'%y/%m/%d' }}</span>
                                                </h6>
                                                <p class="text-muted mr-3">{{ target.description }}</p>

                                            </div>
                                        </div>
                                        <hr>
                                    {% endfor %}

                                </div>
                                <!--Grid column-->

                            </div>
                            <!--Grid row-->

                            <hr>

                            <p class="text-center mt-4 mb-1"><a href="#!">مشاهده تمامی خبرها</a></p>

                        </div>
                    </div>

                </section>
                <!--Section: Content-->
            </div>

        </div>

    {% else %}

        <div class="container my-5 px-0 z-depth-1">

            <!--Section: Content-->
            <section class="p-5 my-md-5 text-center"
                     style="background-image: url({% static 'bourseapp/images/back.jpg' %}); background-size: cover; background-position: center center;">

                <form class="my-5 mx-md-5">

                    <div class="row">
                        <div class="col-md-6 mx-auto">
                            <!-- Material form login -->
                            <div class="card" style="opacity: 0.9">

                                <!--Card content-->
                                <div class="card-body">

                                    <!-- Form -->
                                    <form class="text-center" style="color: #757575;" action="#!">

                                        <h3 class="font-weight-bold my-4 pb-2 text-center dark-grey-text">Log In</h3>
                                        <br>
                                        <br>
                                        <h2>سامانه مدیریت نمادهای بورسی</h2>
                                        <br>
                                        <br>

                                        <!-- Sign in button -->
                                        <a  href="{% url 'login'%}?next={{request.path}}" class="btn btn-rounded btn-lg btn-info mx-4 w-75"><i class="fas fa-user-lock"></i></a>

                                        <!-- Sign up button -->
                                        <a  href="{% url 'signup'%}" class="btn btn-rounded btn-lg btn-info mx-4 w-75">ثبت نام</a>

                                    </form>
                                    <!-- Form -->

                                </div>

                            </div>
                            <!-- Material form login -->
                        </div>
                    </div>

                </form>

            </section>
            <!--Section: Content-->

        </div>

    {% endif %}

<!-- end of body block -->
{% endblock %}

<!-- begin of section block -->
{% block section %}

    {% load staticfiles %}



    <!-- product tiles -->
    <div class="row mt-3 mx-auto">

        <div class="col-12 col-md-10 p-0 pr-2">
            <div class="">

                <a href="#" id="go-to-top">
                    <i class="fa fa-chevron-up" style="margin-top: 12px"></i>
                </a>
            </div>
        </div>
    </div>

    <input type="hidden" id="url-home" data-url="{% url 'bourseapp:index' %}" />
    <input type="hidden" id="url-base" data-url="http://{{ request.get_host }}/" />


    <script src="{% static 'bourseapp/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'bourseapp/js/wow.min.js' %}"></script>
    <script src="{% static 'bourseapp/js/smooth-scroll.js' %}"></script>
    <script src="{% static 'bourseapp/js/base-scripts.js' %}"></script>
    <script src="{% static 'bourseapp/js/scripts.js' %}"></script>
    <script>
        $(".breadcrumb").addClass('d-none')
    </script>

    {% for category in categories %}
        <script type="text/javascript">
            showProducts({{ category.id }})
        </script>
    {% endfor %}

    <script>
        $("#filtering-cities").addClass('d-none')
    </script>
<!-- end of section block -->
{% endblock %}

