<!-- use base html template -->
{% extends 'bourseapp/base.html' %}
{% load humanize %}
{% load jalali_tags %}
{% load auth_extras %}
{% block title %}
    <title>بورس | خانه</title>
{% endblock %}

<!-- load static file in django -->
{% load staticfiles %}

{% block javascript %}
    <script src="{% static 'bourseapp/js/scripts.js' %}"></script>
{% endblock %}

<!-- begin of body block -->
{% block body %}


    <link rel="stylesheet" href="{% static 'bourseapp/styles.css' %}">
    <!-- top section -->


    <div class="container-for-admin">

        <!--Main layout-->
        <main class="pt-0 mx-lg-0">
            <div class="container-fluid mt-0">

                <!-- Heading -->
                <div class="d-none card mb-4 wow fadeIn">

                    <!--Card content-->
                    <div class="card-body d-sm-flex justify-content-between">

                        header
                    </div>

                </div>
                <!-- Heading -->

                <!-- body -->
                <div class="row wow fadeIn">

                    <!--right section-->
                    <div class="col-md-3 mb-4">

                        <!-- watch list -->
                        {% if user.is_authenticated%}
                            <!-- targets -->
                            <div class="card mb-4">

                                <!-- Card header -->
                                <div class="card-header text-center">
                                    نمادهای تحت نظر
                                </div>

                                <!--Card content-->
                                <div class="card-body">

                                    {% for target in targets %}

                                        {% if target.isSuperUserPermition %}
                                            {% if request.user.is_superuser or request.user|has_group:"level1" or request.user|has_group:"vip" %}

                                                <!--target tiles-->
                                                <div class=" mb-1">
                                                    <a href="{% url 'bourseapp:company-detail' target.id%}">

                                                        <div class="media white z-depth-0 border rounded">
                                                            <div class="media-body p-1">
                                                                <p class="text-uppercase text-muted mb-1"><small>{{ target.createAt|to_jalali:'%y/%m/%d' }}</small></p>
                                                                <h5 class="font-weight-bold mb-0">
                                                                    {{ target.symbol }}
                                                                    {% if user.is_superuser%}
                                                                        <a class="small" href="{% url 'admin:bourseapp_company_change' target.id %}" target="_blank"><i class="fa fa-edit"></i></a>
                                                                    {% endif %}
                                                                    <span class="small badge-pill mr-0 yellow ">VIP</span>
                                                                </h5>

                                                            </div>
                                                            {% if target.pic %}
                                                                <img src="{{ target.pic.url }}" alt="" class="rounded-left mr-3 z-depth-1" style="height: 60px; width: 70px; object-fit: contain">
                                                            {% else %}
                                                                <i class="fas fa-chart-bar fa-lg blue z-depth-1 p-4 rounded-left text-white mr-3"></i>
                                                            {% endif %}

                                                        </div>

                                                    </a>
                                                </div>

                                            {% endif %}
                                        {% else %}

                                            <!--target tiles-->
                                            <div class=" mb-1">
                                                <a href="{% url 'bourseapp:company-detail' target.id%}">

                                                    <div class="media white z-depth-0 border rounded">
                                                        <div class="media-body p-1">
                                                            <p class="text-uppercase text-muted mb-1"><small>{{ target.createAt|to_jalali:'%y/%m/%d' }}</small></p>
                                                            <h5 class="font-weight-bold mb-0">
                                                                {{ target.symbol }}
                                                                {% if user.is_superuser%}
                                                                    <a class="small" href="{% url 'admin:bourseapp_company_change' target.id %}" target="_blank"><i class="fa fa-edit"></i></a>
                                                                {% endif %}
                                                            </h5>

                                                        </div>
                                                        {% if target.pic %}
                                                            <img src="{{ target.pic.url }}" alt="" class="rounded-left mr-3 z-depth-1" style="height: 60px; width: 70px; object-fit: contain">
                                                        {% else %}
                                                            <i class="fas fa-chart-bar fa-lg blue z-depth-1 p-4 rounded-left text-white mr-3"></i>
                                                        {% endif %}

                                                    </div>

                                                </a>
                                            </div>

                                        {% endif %}

                                    {% endfor %}

                                </div>

                            </div>
                        {% endif %}

                        <!-- news -->
                        <div class="card mb-4">

                            <!-- Card header -->
                            <div class="card-header text-center">
                                اخبار
                            </div>

                            <!--Card content-->
                            <div class="card-body">

                                <!-- List group links -->
                                <div class="list-group list-group-flush" style="margin: -20px">

                                    {% for new in news %}

                                        {% if new.isSuperUserPermition %}
                                            {% if request.user.is_superuser or request.user|has_group:"level1" or request.user|has_group:"vip" %}
                                                <div class="list-group-item list-group-item-action waves-effect">
                                                    <div class="row">
                                                        <a href="{% url 'bourseapp:news-detail' new.id %}" >
                                                            <p class="small">

                                                                <span class="small badge-pill mr-0 blue white-text">{{ new.createAt|to_jalali:'%y/%m/%d' }}</span>

                                                                {{ new.title }}
                                                                (
                                                                {% if new.company %}
                                                                    {{ new.company.symbol }}
                                                                {% elif new.category %}
                                                                    {{ new.category.title }}
                                                                {% endif %}
                                                                )
                                                                {% if new.createAt|is_past_due:new.createAt %}
                                                                    <i class="fa fa-star" style="color: #ffc400"></i>
                                                                {% endif %}
                                                                <span class="small badge-pill mr-0 yellow ">VIP</span>
                                                            </p>
                                                        </a>
                                                        {% if new.isApproved == False %}
                                                            <a id="class-news-approve-status1-{{ new.id }}"
                                                               onclick="document.getElementById('index-selected-news-id').value='{{ new.id }}';
                                                               document.getElementById('index-selected-news-title').value='{{ new.title }}';
                                                               document.getElementById('modal-news-title').innerHTML='{{ new.title }}'"
                                                               data-toggle="modal" data-target="#modalNewsApproveIndex" data-id="{{ new.id }}" data-title="{{ new.title }}">
                                                                <span class="small badge-pill mr-0 red " style="color: white">تایید نشده</span>
                                                            </a>
                                                        {% endif %}
                                                    </div>
                                                </div>

                                            {% endif %}
                                        {% else %}

                                            {% if new.isApproved == False %}
                                                {% if request.user.is_superuser or request.user|has_group:"level1" %}
                                                    <div class="list-group-item list-group-item-action waves-effect">
                                                    <div class="row">
                                                        <a href="{% url 'bourseapp:news-detail' new.id %}" >
                                                            <p class="small">

                                                                <span class="small badge-pill mr-0 blue white-text">{{ new.createAt|to_jalali:'%y/%m/%d' }}</span>

                                                                {{ new.title }}
                                                                (
                                                                {% if new.company %}
                                                                    {{ new.company.symbol }}
                                                                {% elif new.category %}
                                                                    {{ new.category.title }}
                                                                {% endif %}
                                                                )
                                                                {% if new.createAt|is_past_due:new.createAt %}
                                                                    <i class="fa fa-star" style="color: #ffc400"></i>
                                                                {% endif %}
                                                            </p>
                                                        </a>
                                                        <a id="class-news-approve-status2-{{ new.id }}"
                                                           onclick="document.getElementById('index-selected-news-id').value='{{ new.id }}';
                                                           document.getElementById('index-selected-news-title').value='{{ new.title }}';
                                                           document.getElementById('modal-news-title').innerHTML='{{ new.title }}'"
                                                           data-toggle="modal" data-target="#modalNewsApproveIndex" data-id="{{ new.id }}" data-title="{{ new.title }}">
                                                            <span class="small badge-pill mr-0 red " style="color: white">تایید نشده</span>
                                                        </a>
                                                    </div>
                                                    </div>


                                                {% endif %}
                                            {% else %}
                                                <a href="{% url 'bourseapp:news-detail' new.id %}" class="list-group-item list-group-item-action waves-effect">
                                                <p class="small">

                                                    <span class="small badge-pill mr-0 blue white-text">{{ new.createAt|to_jalali:'%y/%m/%d' }}</span>

                                                    {{ new.title }}
                                                    (
                                                    {% if new.company %}
                                                        {{ new.company.symbol }}
                                                    {% elif new.category %}
                                                        {{ new.category.title }}
                                                    {% endif %}
                                                    )
                                                    {% if new.createAt|is_past_due:new.createAt %}
                                                        <i class="fa fa-star" style="color: #ffc400"></i>
                                                    {% endif %}
                                                </p>
                                            </a>
                                            {% endif %}

                                        {% endif %}

                                    {% endfor %}
                                    <a href="{% url 'bourseapp:news-list' %}" class="list-group-item list-group-item-action waves-effect text-center">
                                        تمامی خبرها
                                    </a>

                                </div>
                                <!-- List group links -->

                            </div>

                        </div>


                    </div>


                    <!-- left section -->
                    <div class="col-md-9 mb-4">


                        <!-- analysis list -->
                        <div class="row">
                            {% if user.is_authenticated%}

                                <!-- technical -->
                                <div class="col-sm mt-1">
                                    <!--Section: Content-->
                                    <section>

                                        <div class="card">
                                            <div class="card-body">

                                                <h5 class="text-center font-weight-bold mb-4">آخرین تحلیل های تکنیکال</h5>

                                                <hr>

                                                <!--Grid row-->
                                                <div class="row">

                                                    <!--Grid column-->
                                                    <div class="col-12 mb-3 mx-auto">

                                                        {% for technical in technicals %}
                                                            {% if technical.isSuperUserPermition %}
                                                                {% if request.user.is_superuser or request.user|has_group:"level1" or request.user|has_group:"vip" %}

                                                                    <div class="media">
                                                                        {% if technical.pic %}
                                                                            <img class="d-flex mr-3 img-thumbnail" src="{{ technical.pic.url }}" alt="{{ technical.title }}" style="width: 70px; height: 70px; object-fit: cover">
                                                                        {% else %}
                                                                            <img class="d-flex mr-3 img-thumbnail" src="{% static 'bourseapp/images/technical.jpg' %}" alt="News" style="width: 70px; height: 70px; object-fit: cover">

                                                                        {% endif %}
                                                                        <div class="media-body">
                                                                            <h6 class="mt-1 font-weight-bold mr-3">
                                                                                <a href="{% url 'bourseapp:technical-detail' technical.id %}">

                                                                                    {{ technical.title }}
                                                                                    {% if technical.createAt|is_past_due:technical.createAt %}
                                                                                        <i class="fa fa-star" style="color: #ffc400"></i>
                                                                                    {% endif %}

                                                                                    {% if user.is_authenticated%}
                                                                                        <a class="small" href="{% url 'admin:bourseapp_technical_change' technical.id %}" target="_blank"><i class="fa fa-edit"></i></a>
                                                                                    {% endif %}
                                                                                </a>

                                                                            </h6>
                                                                            <span class="badge badge-default mr-1">
                                                                                        {% if technical.company %}
                                                                                            {{ technical.company.symbol }}
                                                                                        {% elif technical.category %}
                                                                                            {{ technical.category.title }}
                                                                                        {% endif %}
                                                                                    </span>
                                                                            <span class="badge badge-info mr-1">{{ technical.createAt|to_jalali:'%y/%m/%d' }}</span>
                                                                            <span class="badge badge-secondary mr-1"><small>{{ technical.user }}</small></span>
                                                                            <span class="badge yellow mr-1"><small style="color: black">VIP</small></span>
                                                                            {#                                                                    <p class="text-muted mr-3" style="width: 250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ technical.description|truncatechars:100 }}</p>#}

                                                                        </div>
                                                                    </div>
                                                                    <hr>

                                                                {% endif %}

                                                            {% else %}

                                                                <div class="media">
                                                                    {% if technical.pic %}
                                                                        <img class="d-flex mr-3 img-thumbnail" src="{{ technical.pic.url }}" alt="{{ technical.title }}" style="width: 70px; height: 70px; object-fit: cover">
                                                                    {% else %}
                                                                        <img class="d-flex mr-3 img-thumbnail" src="{% static 'bourseapp/images/technical.jpg' %}" alt="News" style="width: 70px; height: 70px; object-fit: cover">

                                                                    {% endif %}
                                                                    <div class="media-body">
                                                                        <h6 class="mt-1 font-weight-bold mr-3">
                                                                            <a href="{% url 'bourseapp:technical-detail' technical.id %}">

                                                                                {{ technical.title }}
                                                                                {% if technical.createAt|is_past_due:technical.createAt %}
                                                                                    <i class="fa fa-star" style="color: #ffc400"></i>
                                                                                {% endif %}

                                                                                {% if user.is_authenticated%}
                                                                                    <a class="small" href="{% url 'admin:bourseapp_technical_change' technical.id %}" target="_blank"><i class="fa fa-edit"></i></a>
                                                                                {% endif %}
                                                                            </a>

                                                                        </h6>
                                                                        <span class="badge badge-default mr-1">
                                                                                        {% if technical.company %}
                                                                                            {{ technical.company.symbol }}
                                                                                        {% elif technical.category %}
                                                                                            {{ technical.category.title }}
                                                                                        {% endif %}
                                                                                    </span>
                                                                        <span class="badge badge-info mr-1">{{ technical.createAt|to_jalali:'%y/%m/%d' }}</span>
                                                                        <span class="badge badge-secondary mr-1"><small>{{ technical.user }}</small></span>
                                                                        {#                                                                    <p class="text-muted mr-3" style="width: 250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ technical.description|truncatechars:100 }}</p>#}

                                                                    </div>
                                                                </div>
                                                                <hr>
                                                            {% endif %}

                                                        {% endfor %}

                                                    </div>
                                                    <!--Grid column-->

                                                </div>
                                                <!--Grid row-->

                                                <hr>

                                                <p class="text-center mt-4 mb-1"><a href="{% url 'bourseapp:technical-list' %}">مشاهده تمامی تحلیل ها</a></p>

                                            </div>
                                        </div>

                                    </section>
                                    <!--Section: Content-->
                                </div>

                                <!-- fundamental -->
                                <div class="col-sm mt-1">
                                    <!--Section: Content-->
                                    <section>

                                        <div class="card">
                                            <div class="card-body">

                                                <h5 class="text-center font-weight-bold mb-4">آخرین تحلیل های بنیادی</h5>

                                                <hr>

                                                <!--Grid row-->
                                                <div class="row">

                                                    <!--Grid column-->
                                                    <div class="col-12 mb-3 mx-auto">

                                                        {% for fundamental in fundamentals %}

                                                            {% if fundamental.isSuperUserPermition %}
                                                                {% if request.user.is_superuser or request.user|has_group:"level1" or request.user|has_group:"vip" %}

                                                                    <div class="media">
                                                                        {% if fundamental.pic %}
                                                                            <img class="d-flex mr-3 img-thumbnail" src="{{ fundamental.pic.url }}" alt="{{ fundamental.title }}" style="width: 70px; height: 70px; object-fit: cover">

                                                                        {% else %}
                                                                            <img class="d-flex mr-3  img-thumbnail" src="{% static 'bourseapp/images/fundamental-analysis.jpg' %}" alt="News" style="width: 70px; height: 70px; object-fit: cover">

                                                                        {% endif %}
                                                                        <div class="media-body">
                                                                            <h6 class="mt-1 font-weight-bold mr-3">
                                                                                <a href="{% url 'bourseapp:fundamental-detail' fundamental.id %}">

                                                                                    {{ fundamental.title }}
                                                                                    {% if fundamental.createAt|is_past_due:fundamental.createAt %}
                                                                                        <i class="fa fa-star" style="color: #ffc400"></i>
                                                                                    {% endif %}

                                                                                    {% if user.is_authenticated%}
                                                                                        <a class="small" href="{% url 'admin:bourseapp_fundamental_change' fundamental.id %}" target="_blank"><i class="fa fa-edit"></i></a>
                                                                                    {% endif %}
                                                                                </a>

                                                                            </h6>
                                                                            <span class="badge badge-default mr-1">
                                                                        {% if fundamental.company %}
                                                                            {{ fundamental.company.symbol }}
                                                                        {% elif fundamental.category %}
                                                                            {{ fundamental.category.title }}
                                                                        {% endif %}
                                                                    </span>
                                                                            <span class="badge badge-info ml-1">{{ fundamental.createAt|to_jalali:'%y/%m/%d' }}</span>
                                                                            <span class="badge badge-secondary ml-1"><small>{{ fundamental.user }}</small></span>
                                                                            <span class="badge yellow mr-1"><small style="color: black">VIP</small></span>
                                                                            {#                                                                    <p class="text-muted mr-3" style="width: 250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ fundamental.description|truncatechars:100 }}</p>#}

                                                                        </div>
                                                                    </div>
                                                                    <hr>
                                                                {% endif %}
                                                            {% else %}

                                                                <div class="media">
                                                                    {% if fundamental.pic %}
                                                                        <img class="d-flex mr-3 img-thumbnail" src="{{ fundamental.pic.url }}" alt="{{ fundamental.title }}" style="width: 70px; height: 70px; object-fit: cover">

                                                                    {% else %}
                                                                        <img class="d-flex mr-3  img-thumbnail" src="{% static 'bourseapp/images/fundamental-analysis.jpg' %}" alt="News" style="width: 70px; height: 70px; object-fit: cover">

                                                                    {% endif %}
                                                                    <div class="media-body">
                                                                        <h6 class="mt-1 font-weight-bold mr-3">
                                                                            <a href="{% url 'bourseapp:fundamental-detail' fundamental.id %}">

                                                                                {{ fundamental.title }}
                                                                                {% if fundamental.createAt|is_past_due:fundamental.createAt %}
                                                                                    <i class="fa fa-star" style="color: #ffc400"></i>
                                                                                {% endif %}

                                                                                {% if user.is_authenticated%}
                                                                                    <a class="small" href="{% url 'admin:bourseapp_fundamental_change' fundamental.id %}" target="_blank"><i class="fa fa-edit"></i></a>
                                                                                {% endif %}
                                                                            </a>

                                                                        </h6>
                                                                        <span class="badge badge-default mr-1">
                                                                        {% if fundamental.company %}
                                                                            {{ fundamental.company.symbol }}
                                                                        {% elif fundamental.category %}
                                                                            {{ fundamental.category.title }}
                                                                        {% endif %}
                                                                    </span>
                                                                        <span class="badge badge-info ml-1">{{ fundamental.createAt|to_jalali:'%y/%m/%d' }}</span>
                                                                        <span class="badge badge-secondary ml-1"><small>{{ fundamental.user }}</small></span>
                                                                        {#                                                                    <p class="text-muted mr-3" style="width: 250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ fundamental.description|truncatechars:100 }}</p>#}

                                                                    </div>
                                                                </div>
                                                                <hr>
                                                            {% endif %}

                                                        {% endfor %}

                                                    </div>
                                                    <!--Grid column-->

                                                </div>
                                                <!--Grid row-->

                                                <hr>

                                                <p class="text-center mt-4 mb-1"><a href="{% url 'bourseapp:fundamental-list' %}">مشاهده تمامی تحلیل ها</a></p>

                                            </div>
                                        </div>

                                    </section>
                                    <!--Section: Content-->
                                </div>

                            {% endif %}
                        </div>

                    </div>


                </div>

            </div>
        </main>
        <!--Main layout-->

    </div>



    <!-- Modal for approve news -->
    <div class="modal fade" id="modalNewsApproveIndex" tabindex="-1" role="dialog" aria-labelledby="modalNewsApproveLabel2"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-right" id="modalNewsApproveLabel2">تایید خبر</h5>
                </div>
                <div class="modal-body">
                    آیا از حذف خبر
                    <strong id="modal-news-title" style="font-weight: bold"> </strong>
                      مطمئنید؟
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">لغو</button>
                    <button onclick="newsApproveByAdminInIndex(document.getElementById('index-selected-news-id').value)" type="button" class="btn btn-primary">تایید</button>
                </div>
            </div>
        </div>
    </div>

<!-- end of body block -->
{% endblock %}

<!-- begin of section block -->
{% block section %}

    {% load staticfiles %}



    <input type="hidden" id="url-home" data-url="{% url 'bourseapp:index' %}" />
    <input type="hidden" id="url-base" data-url="http://{{ request.get_host }}/" />
    <input type="hidden" id="url-news-approve-id" data-url="{% url 'bourseapp:news-approve' 12345%}" />
    <input type="hidden" id="index-selected-news-id">
    <input type="hidden" id="index-selected-news-title">

{##}
{#    <script src="{% static 'bourseapp/js/jquery-3.4.1.min.js' %}"></script>#}
{#    <script src="{% static 'bourseapp/js/wow.min.js' %}"></script>#}
{#    <script src="{% static 'bourseapp/js/smooth-scroll.js' %}"></script>#}
{#    <script src="{% static 'bourseapp/js/base-scripts.js' %}"></script>#}
{#    <script src="{% static 'bourseapp/js/scripts.js' %}"></script>#}

    <!-- jQuery -->
{#    <script type="text/javascript" src="{% static 'bourseapp/js/jquery.min.js' %}"></script>#}
    <!-- Bootstrap tooltips -->
{#    <script type="text/javascript" src="{% static 'bourseapp/js/popper.min.js' %}"></script>#}
    <!-- Bootstrap core JavaScript -->
{#    <script type="text/javascript" src="{% static 'bourseapp/js/bootstrap.min.js' %}"></script>#}
    <!-- MDB core JavaScript -->
{#    <script type="text/javascript" src="{% static 'bourseapp/js/mdb.min.js' %}"></script>#}

<!-- end of section block -->
{% endblock %}

