<!-- use base html template -->
{% extends 'bourseapp/base.html' %}
{% load humanize %}
{% block title %}
    <title>بورس | خانه</title>
{% endblock %}
<!-- begin of body block -->
{% block body %}
    <!-- load static file in django -->
    {% load staticfiles %}


    <link rel="stylesheet" href="{% static 'bourseapp/styles.css' %}">
    <!-- top section -->

    <!-- auth checking -->
    {% if user.is_authenticated%}
        <div class="card-body grey lighten-5 rounded-bottom">
            {{ user }}
        </div>

    {% else %}

        <div class="container my-5 px-0 z-depth-1">
            <!--Section: Content-->
            <section class="p-5 my-md-5 text-center"
                     style="background-image: url({% static 'bourseapp/images/back.jpg' %}); background-size: cover; background-position: center center;">

                <form class="my-5 mx-md-5">

                    <div class="row">
                        <div class="col-md-6 mx-auto">
                            <!-- Material form login -->
                            <div class="card" style="opacity: 0.9">

                                <!--Card content-->
                                <div class="card-body">

                                    <!-- Form -->
                                    <form class="text-center" style="color: #757575;" action="#!">

                                        <h3 class="font-weight-bold my-4 pb-2 text-center dark-grey-text">Log In</h3>
                                        <br>
                                        <br>
                                        <h2>سامانه مدیریت نمادهای بورسی</h2>
                                        <br>
                                        <br>

                                        <!-- Sign in button -->
                                        <a  href="{% url 'login'%}?next={{request.path}}" class="btn btn-rounded btn-lg btn-info mx-4 w-75"><i class="fas fa-user-lock"></i></a>

                                    </form>
                                    <!-- Form -->

                                </div>

                            </div>
                            <!-- Material form login -->
                        </div>
                    </div>

                </form>

            </section>
            <!--Section: Content-->


        </div>



    {% endif %}

<!-- end of body block -->
{% endblock %}

<!-- begin of section block -->
{% block section %}

    {% load staticfiles %}



    <!-- product tiles -->
    <div class="row mt-3 mx-auto">

        <div class="col-12 col-md-10 p-0 pr-2">
            <div class="">

                <a href="#" id="go-to-top">
                    <i class="fa fa-chevron-up" style="margin-top: 12px"></i>
                </a>
            </div>
        </div>
    </div>

    <input type="hidden" id="url-home" data-url="{% url 'bourseapp:index' %}" />
    <input type="hidden" id="url-base" data-url="http://{{ request.get_host }}/" />


    <script src="{% static 'bourseapp/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'bourseapp/js/wow.min.js' %}"></script>
    <script src="{% static 'bourseapp/js/smooth-scroll.js' %}"></script>
    <script src="{% static 'bourseapp/js/base-scripts.js' %}"></script>
    <script src="{% static 'bourseapp/js/scripts.js' %}"></script>
    <script>
        $(".breadcrumb").addClass('d-none')
    </script>

    {% for category in categories %}
        <script type="text/javascript">
            showProducts({{ category.id }})
        </script>
    {% endfor %}

    <script>
        $("#filtering-cities").addClass('d-none')
    </script>
<!-- end of section block -->
{% endblock %}

